<!DOCTYPE html>
<<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bloggr Posts</title>
</head>
<body>
    <br>
    <div>
        <h1 style="display: inline">All Bloggr Posts </h1>
        <a style="display: inline" class="btn btn-success float-right" href="/posts/new"><button>New Post</button></a>
    </div>
    <br>
    <hr>
    {% for post in posts%}
    <h2>{{post.title}}</h2>
    {% if post.posted_by %}
    <small>Written By {{post.posted_by}} on {{post.posted_on}}</small>
    {% else%}
    <small>Written by Anonymous on {{post.posted_on}}</small>
    {% endif %}
    <p style="white-space: pre-wrap">{{post.content}}</p>
    <br>
    <a href="/posts/delete/{{post.id}}"><button>Delete</button></a>
    <a href="/posts/edit/{{post.id}}"><button>Edit</button></a>
    <hr>
    {% endfor %}
</body>
</html>